language: cpp

matrix:
  include:
    - os: linux
      compiler: gcc

    - os: osx
      compiler: gcc

    - os: linux
      compiler: clang

    - os: osx
      compiler: clang

script:
  - ./configure
  - cd src
  - make
  - make test
  - sudo make install
